@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./OpenSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display"),
    url(./DMSerifDisplay-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Archivo";
  src: local("Archivo"), url(./Archivo-Regular.ttf) format("opentype");
}
