main {
  height: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1340px;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}
