.paginationWrap {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
  position: sticky;
  bottom: 15px;
  margin-top: 20px;
  justify-self: center;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  column-gap: 5px;

  .paginationPages {
    display: grid;
    min-width: 250px;
    column-gap: 5px;
    grid-auto-flow: column;

    .page {
      cursor: pointer;
      text-align: center;
      user-select: none;
    }

    .activePage {
      position: relative;

      &::after {
        content: "";
        height: 3px;
        width: 100%;
        background-color: #65b79a;
        display: block;
        bottom: -10px;
        position: absolute;
      }
    }
  }

  .button {
    border: none;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    background: transparent;
    cursor: pointer;
  }
}
